<style>
    .nav {
        background-color: rgb(75, 75, 75);

        height: 100%;
        text-align: center;
        padding: 1%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .text {
        text-align: center;
    }

    .spacer {
        flex: 1;
    }

    .campo {
        width: 20%;
        height: 50%;
    }
</style>

<header>
    <h1 class="text">Register</h1>
</header>

<body>

    <form class="text" id="formInsertClient" >

        <br /><br />
        <h3>CPF:</h3> <input class="campo" id="txtCPF" title="CPF" type="number" required autofocus autocomplete="false" >
        <h3>Nome:</h3> <input class="campo" id="txtNome" title="Nome" type="text" required autocomplete="false">
        <h3>Telefone:</h3> <input class="campo" id="txtTelefone" title="Telefone" type="number" autocomplete="false">
        <h3>Data:</h3> <input class="campo" id="txtData" title="Data de Nascimentos" type="number" autocomplete="false">
        <h3>Genero:</h3> <input class="campo" id="txtSexo" title="Seu Genero" maxlength="1" type="text" autocomplete="false">

        <br /><br />

        <input id="btnRegister" (click)="POST()"  type="submit">

    </form>

</body>